





<select name="bike_producer" id="bike_producer" class="searchField" >
                      <option readonly value="">select one</option>
					  {%  for item in data %}
		    		
			    	<option>{{item}}</option>
			    	
					{% endfor %} 
					  
                      
</select>